*{
    margin: 0;
    padding: 0;
     
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black ;
    justify-content: center;
}
h1{
    color: #B132F5;
    size: 15px;
}
.area-menu{
    text-align: center;
    margin-top: 0;
    background-color: black;
    list-style: none;
    padding: 0;
    width: 100%;
    height: 50%;

}
.area-menu a{
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background.3s;
    font-size: 20px;
}
.area-menu a:hover{
    background-color: #B132F5;
}


.left{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    max-height: 500px;
    align-items: center;
    letter-spacing: 2px;
}

.right{
    width:  50%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: right;
}
 .left h1, h3{
    color: white;
    size: 15px;
    letter-spacing: 2px;
    text-align: left;
    padding: 17px 3px;
}
.left h2{
    color:#B132F5;
    size: 20px;
    text-align: left;
    padding: 17px 3px;
}
.left button{
    padding: 10px;
    border-radius: 15%;
    background-color: rgb(37, 37, 255);
    color: white;
    size: 20px;
    letter-spacing: 2px;
}
.left button:hover{
    color: #B132F5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    align-items: center;
}
.container .card .img{
    width: 70px;
    height: 70px;
}
.container .card img{
    width: 100%;
}
.container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #c466f7;
    padding: 1rem 1.5rem;
    border-radius: 5%;
    max-height: 250px;
    margin-left: 32px;
}
.container .card p{
    font-weight: bolder;
}